.user-active
	ul.items-list
		-for(var i = 0; i < 5; i++)
			li
				img.avatar(src="https://via.placeholder.com/128", alt="128x128")
				span.label Nguyễn Thành Lộc
				span.second-action.fg-green
					span.mdi.mdi-circle-medium