header
	.header-left
		h1.title Trang chủ
		button.button.square.d-none-lg.mt-4#menu-toggle
			span.mdi.mdi-menu
	.header-right
		ul.v-menu.d-none-lg(data-role="collapse" data-toggle-element="#menu-toggle" data-collapsed="true")
			li
				a(href="#").dropdown-toggle
					img(src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2019%2F08%2Fg-dragon-peaceminusone-nike-air-force-1-07-paranoise-another-look-1.jpg?q=75&w=800&cbr=1&fit=max", alt="32x32")
					span username
				ul.v-menu(data-role="dropdown")
					li
						a(href="#")
							span.icon.mif-user
							span Profile
					li
						a(href="#")
							span.icon.mif-key
							span Đổi mật khẩu
					li.divider
					li
						a(href="#")
							span.icon.mif-exit
							span Đăng xuất
			li
				select(data-role="select" data-filter="false")
					option(value="vi" data-template="<span class='icon flag-icon flag-icon-vn'></span><span>$1</span>") Tiếng Việt
					option(value="en" data-template="<span class='icon flag-icon flag-icon-us'></span><span>$1</span>") Tiếng Anh
		ul.h-menu.no-hover
			li
				a(href="#").dropdown-toggle
					.menu-avatar
						img(src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2019%2F08%2Fg-dragon-peaceminusone-nike-air-force-1-07-paranoise-another-look-1.jpg?q=75&w=800&cbr=1&fit=max", alt="32x32")
					span username
				ul.d-menu(data-role="dropdown")
					li
						a(href="#")
							span.icon.mif-user
							span Profile
					li
						a(href="#")
							span.icon.mif-key
							span Đổi mật khẩu
					li.divider
					li
						a(href="#")
							span.icon.mif-exit
							span Đăng xuất
			li
				select(data-role="select" data-filter="false")
					option(value="vi" data-template="<span class='icon flag-icon flag-icon-vn'></span><span>$1</span>") Tiếng Việt
					option(value="en" data-template="<span class='icon flag-icon flag-icon-us'></span><span>$1</span>") Tiếng Anh