section.dashboard_wrapper
	aside.dashboard_general
		.row
			.col-sm-6.col-xl-3
				.icon-box.border.bd-blue.h-auto
					.icon.bg-blue.fg-white
						span.mif-embed2(style="transform: translateX(-5px)")
					.content.p-4
						.text-upper.text-medium code read book
						.text-upper.text-bold.text-lead.mt-2 99+
			.col-sm-6.col-xl-3
				.icon-box.border.bd-yellow.h-auto
					.icon.bg-yellow.fg-grayMouse
						span.mif-books
					.content.p-4
						.text-upper.text-medium Books
						.text-upper.text-bold.text-lead.mt-2 1234+
			.col-sm-6.col-xl-3
				.icon-box.border.bd-emerald.h-auto
					.icon.bg-emerald.fg-white
						span.mif-enter
					.content.p-4
						.text-upper.text-medium Visitor
						.text-upper.text-bold.text-lead.mt-2 1234+
			.col-sm-6.col-xl-3
				.icon-box.border.bd-crimson.h-auto
					.icon.bg-crimson.fg-white
						span.mif-users
					.content.p-4
						.text-upper.text-medium Users
						.text-upper.text-bold.text-lead.mt-2 1234+
		.row
			.col-sm-6.col-xl-3
				.more-info-box.bg-crimson.fg-white
					.content
						h2.text-bold.mb-0 90
						div Code is available
					.icon
						span.mif-barcode
					a(href="#").more More info 
						span.mif-arrow-right
			.col-sm-6.col-xl-3
				.more-info-box.bg-emerald.fg-white
					.content
						h2.text-bold.mb-0 49%
						div Bounce Rate
					.icon
						span.mif-chart-dots
					a(href="#").more More info 
						span.mif-arrow-right
			.col-sm-6.col-xl-3
				.more-info-box.bg-yellow.fg-grayMouse
					.content
						h2.text-bold.mb-0 19
						div New Registrations
					.icon
						span.mif-chart-bars
					a(href="#").more.fg-grayMouse More info 
						span.mif-arrow-right
			.col-sm-6.col-xl-3
				.more-info-box.bg-blue.fg-white
					.content
						h2.text-bold.mb-0 1868
						div Unique Visitors
					.icon
						span.mif-user-plus
					a(href="#").more More info 
						span.mif-arrow-right
	aside.dashboard_report
		div.grid(data-role="panel" data-title-caption="Monthly report" data-collapsible="true" data-title-icon="<span class='mif-chart-line'></span>")
			.row
				.col-xl-8.px-4.pb-4.pt-0
					h5.text-center Book views: 1 Dec, 2019 - 31 Dec, 2019
					canvas#dashboard_report-monthly
				.col-xl-4.px-4.pb-4.pt-0
					h5.text-center Goal Completion
					.mt-4
						.clear
							.place-left Add Products to Cart
							.place-right
								strong 160
								span /200
						div(data-role="progress" data-value="75" data-cls-bar="bg-blue")
					.mt-4
						.clear
							.place-left Complete Purchase
							.place-right 
								strong 100
								span /200
						div(data-role="progress" data-value="50" data-cls-bar="bg-yellow")
					.mt-4
						.clear
							.place-left Visit Page
							.place-right 
								strong 900
								span /2100
						div(data-role="progress" data-value="34" data-cls-bar="bg-emerald")
					.mt-4
						.clear
							.place-left Send Inquiries
							.place-right 
								strong 456
								span /500
						div(data-role="progress" data-value="85" data-cls-bar="bg-crimson")
				.col-12.border-top.bd-lightGray.my-4
					.row
						.col-sm-6.col-md-3.text-center
							.fg-emerald
								span.mif-arrow-drop-up
								span 17%
							.text-bold.enlarge-2 $35,210.43
							div TOTAL REVENUE
						.col-sm-6.col-md-3.text-center
							.fg-emerald
								span &nbsp;
								span.mif-arrow-drop-up
								span 17%
							.text-bold.enlarge-2 $10,390.90
							div TOTAL COST
						.col-sm-6.col-md-3.text-center
							.fg-emerald
								span.mif-arrow-drop-up
								span 29%
							.text-bold.enlarge-2 $56,210.43
							div TOTAL PROFIT
						.col-sm-6.col-md-3.text-center
							.fg-crimson
								span.mif-arrow-drop-down
								span 15%
							.text-bold.enlarge-2 135
							div GOAL COMPLETIONS
	aside.dashboard_block.row
		.col-xl-7
			div(data-role="panel" data-title-caption="Staff list" data-collapsible="true" data-title-icon="<span class='mif-users'></span>")
				.custom_table-wrapper
					.custom_table-top.d-flex.flex-wrap.flex-nowrap-lg.flex-align-center.flex-justify-center.flex-justify-start-lg.mb-2
						.custom_table-search.w-100.mb-2.mb-0-lg
						.custom_table-rows.mx-2
						.custom_table-actions
							button.button.square(onclick="$('#table1').data('table').toggleInspector()")
								span.mif-cog
					table#table1(data-role="table" data-search-wrapper=".custom_table-search" data-rows-wrapper=".custom_table-rows" data-info-wrapper=".custom_table-info" data-pagination-wrapper=".custom_table-pagination" data-pagination-short-mode="true" data-horizontal-scroll="true" data-check="true" data-check-style="2" data-rownum="true").table.table-border.cell-border
						thead
							tr
								th(data-sort-dir="asc" data-format="number" data-name="id").sortable-column ID
								th(data-name="name").sortable-column Name
								th(data-format="date" data-format-mask="%d-%m-%y" data-name="start").sortable-column Start
								th(data-format="int" data-name="age").sortable-column Age
								th(data-format="money" data-name="salary").sortable-column Salary
						tbody
							tr
								td 1
								td Bill
								td 31-12-2017
								td 63
								td $7,843
							tr
								td 2
								td Steve
								td 13-06-2018
								td 63
								td $7,843
							tr
								td 3
								td Larry
								td 31-12-2017
								td 28
								td $8,877
							tr
								td 4
								td Troy
								td 11-03-2019
								td 26
								td $5,405
							tr
								td 5
								td Kennedy
								td 11-02-2018
								td 60
								td $5,780
							tr
								td 6
								td Cullen
								td 23-09-2017
								td 62
								td $5,482
							tr
								td 7
								td Eric
								td 04-01-2019
								td 53
								td $6,490
							tr
								td 8
								td Jakeem
								td 29-06-2018
								td 18
								td $6,084
							tr
								td 9
								td Kieran
								td 11-04-2019
								td 18
								td $5,043
							tr
								td 10
								td Stephen
								td 23-09-2017
								td 54
								td $5,895
							tr
								td 11
								td Cody
								td 26-03-2018
								td 65
								td $8,558
							tr
								td 12
								td Cody
								td 26-03-2018
								td 65
								td $8,558
							tr
								td 13
								td Otto
								td 26-03-2018
								td 25
								td $8,124
							tr
								td 14
								td Timon
								td 14-12-2017
								td 39
								td $5,031
							tr
								td 15
								td Owen
								td 25-05-2018
								td 24
								td $6,595
							tr
								td 16
								td Tobias
								td 02-03-2019
								td 21
								td $7,926
							tr
								td 17
								td Logan
								td 17-02-2018
								td 24
								td $8,062
							tr
								td 18
								td Laith
								td 02-04-2019
								td 45
								td $6,886
							tr
								td 19
								td Damian
								td 03-01-2018
								td 35
								td $9,852
							tr
								td 20
								td Wallace
								td 22-05-2018
								td 28
								td $8,678
					.custom_table-bottom.d-flex.flex-wrap.flex-nowrap-lg.flex-align-center.flex-justify-center.flex-justify-start-lg.mb-2
						.custom_table-info.w-100.w-auto-lg.mb-2.mb-0-lg
						.custom_table-pagination.ml-auto-lg
		.col-xl-5
			div(data-role="panel" data-title-caption="New members" data-collapsible="true" data-title-icon="<span class='mif-users'></span>")
				ul.user-list
					li
						img(src="https://via.placeholder.com/128", alt="https://via.placeholder.com/128").avatar
						.text-ellipsis Loc Thanh
						.text-small.text-muted Today
					li
						img(src="https://via.placeholder.com/128", alt="https://via.placeholder.com/128").avatar
						.text-ellipsis Loc Thanh
						.text-small.text-muted Yesterday
					li
						img(src="https://via.placeholder.com/128", alt="https://via.placeholder.com/128").avatar
						.text-ellipsis Loc Thanh
						.text-small.text-muted Yesterday
					li
						img(src="https://via.placeholder.com/128", alt="https://via.placeholder.com/128").avatar
						.text-ellipsis Loc Thanh
						.text-small.text-muted 21 Dec
					li
						img(src="https://via.placeholder.com/128", alt="https://via.placeholder.com/128").avatar
						.text-ellipsis Loc Thanh
						.text-small.text-muted 21 Dec
					li
						img(src="https://via.placeholder.com/128", alt="https://via.placeholder.com/128").avatar
						.text-ellipsis Loc Thanh
						.text-small.text-muted 19 Dec
					li
						img(src="https://via.placeholder.com/128", alt="https://via.placeholder.com/128").avatar
						.text-ellipsis Loc Thanh
						.text-small.text-muted 19 Sep
					li
						img(src="https://via.placeholder.com/128", alt="https://via.placeholder.com/128").avatar
						.text-ellipsis Loc Thanh
						.text-small.text-muted 18 Nov
				.border-top.bd-default.text-center
					a(href="#") View all users