aside.tables_classes
	.row
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Default 
					code HTML
					|  table
				table
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td Steve
							td Jobs
							td @stevy
						tr
							td 3
							td Larry
							td Page
							td @larry
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Make table with class 
					code .table
				table.table
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td Steve
							td Jobs
							td @stevy
						tr
							td 3
							td Larry
							td Page
							td @larry
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Sortable columns classes
				table.table
					thead
						tr
							th.sortable-column.sort-desc #
							th.sortable-column First Name
							th.sortable-column.sort-asc Last Name
							th.sortable-column Username
					tbody
						tr
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td Steve
							td Jobs
							td @stevy
						tr
							td 3
							td Larry
							td Page
							td @larry
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Striped rows
				table.table.striped
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td Steve
							td Jobs
							td @stevy
						tr
							td 3
							td Larry
							td Page
							td @larry
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Hover rows with class 
					code .row-hover
				table.table.row-hover
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td Steve
							td Jobs
							td @stevy
						tr
							td 3
							td Larry
							td Page
							td @larry
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Hover cells with class 
					code .cell-hover
				table.table.cell-hover
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td Steve
							td Jobs
							td @stevy
						tr
							td 3
							td Larry
							td Page
							td @larry
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Bordered table with class 
					code .table-border
				table.table.table-border
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td Steve
							td Jobs
							td @stevy
						tr
							td 3
							td Larry
							td Page
							td @larry
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Bordered table with class 
					code .row-border
				table.table.row-border
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td Steve
							td Jobs
							td @stevy
						tr
							td 3
							td Larry
							td Page
							td @larry
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Bordered table with class 
					code .cell-border
				table.table.cell-border
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td Steve
							td Jobs
							td @stevy
						tr
							td 3
							td Larry
							td Page
							td @larry
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Compact table with class 
					code .compact
				table.table.table-border.cell-border.compact
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td Steve
							td Jobs
							td @stevy
						tr
							td 3
							td Larry
							td Page
							td @larry
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Compact table with class 
					code .subcompact
				table.table.table-border.cell-border.subcompact
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td Steve
							td Jobs
							td @stevy
						tr
							td 3
							td Larry
							td Page
							td @larry
		.col-xl-4
			.bg-white.p-4.h-100
				h6 Colored table
				table.table.cell-hover
					thead
						tr.bg-crimson
							th.fg-white #
							th.fg-white First Name
							th.fg-white Last Name
							th.fg-white Username
					tbody
						tr.info
							td 1
							td Bill
							td Gates
							td @billy
						tr
							td 2
							td.yellow Steve
							td Jobs
							td @stevy
						tr
							td.success 3
							td Larry
							td Page
							td.alert @larry