nav.navview-pane
	button.pull-button
		span.mif-menu
	.suggest-box
		input(type='text' data-role='input' data-clear-button='false' data-search-button='true')
		button.holder
			span.mif-search
	ul.navview-menu
		li
			a(href='index.html')
				span.icon
					span.mif-home
				span.caption Dashboard
		li.item-separator
		li.item-header Template
		li
			a.dropdown-toggle
				span.icon
					span.mdi.mdi-table
				span.caption Đơn hàng
			ul.navview-menu(data-role='dropdown')
				li
					a(href='don_hang-list.html')
						span.icon
							span.mdi.mdi-table-search
						span.caption Danh sách đơn hàng
				li
					a(href='don_hang-create.html')
						span.icon
							span.mdi.mdi-table-plus
						span.caption Tạo đơn hàng
		li.active
			a(href='forms.html')
				span.icon
					span.mdi.mdi-application-import
				span.caption Forms
		li
			a(href='profile.html')
				span.icon
					span.mdi.mdi-account
				span.caption Profile
		li
			a.dropdown-toggle(href='#')
				span.icon
					span.mif-music
				span.caption Music
			ul.navview-menu(data-role='dropdown')
				li
					a(href='#')
						span.icon
							span.mif-gamepad
						span.caption Games
				li
					a(href='#')
						span.icon
							span.mif-film
						span.caption Movies
		li.disabled
			a(href='#')
				span.icon
					span.mif-images
				span.caption Images
		li.item-separator
		li
			a(href='#')
				span.icon
					span.mif-folder
				span.caption Documents
