extends _layout.pug

block var
	- var title = 'Forms'
	- var contentTitle = 'Forms '
	- var contentSubTitle = 'Extended'

block content-wrapper
	section.forms_wrapper
		include ../partials/forms/extended/extended.pug