extends _layout.pug

block var
	- var title = 'Information - Hints'
	- var contentTitle = 'Information '
	- var contentSubTitle = 'Hints'

block content-wrapper
	include ../partials/information/hints/hints.pug