extends _layout.pug

block var
	- var title = 'Information - Dialog'
	- var contentTitle = 'Information '
	- var contentSubTitle = 'Dialog'

block content-wrapper
	include ../partials/information/dialog/dialog.pug