extends _layout.pug

block var
	- var title = 'Table'
	- var contentTitle = 'Table '
	- var contentSubTitle = 'components'

block content-wrapper
	section.tables_wrapper
		include ../partials/tables/components/components.pug