extends _layout.pug

block var
	- var title = 'Tables'

block main-content
	.container-fluid
		.row
			.col-12
				include ../partials/tables/_tables.pug

block script
	script(src="./js/filterTables.min.js")