extends _layout.pug

block var
	- var title = 'UI Elements'
	- var contentTitle = 'UI Elements '
	- var contentSubTitle = 'List'

block content-wrapper
	section.list_wrapper
		include ../partials/ui-elements/list/list.pug