extends _layout.pug

block var
	- var title = 'UI Elements'
	- var contentTitle = 'UI Elements '
	- var contentSubTitle = 'Typography'

block content-wrapper
	section.typography_wrapper
		include ../partials/ui-elements/typography/typography.pug