extends _layout.pug

block var
	- var title = 'Information - Master'
	- var contentTitle = 'Information '
	- var contentSubTitle = 'Master'

block content-wrapper
	include ../partials/wizard/master/master.pug