extends _layout.pug

block var
	- var title = 'Information - Wizard'
	- var contentTitle = 'Information '
	- var contentSubTitle = 'Wizard'

block content-wrapper
	include ../partials/wizard/wizard/wizard.pug