section.sidebar_wrapper.navview-pane.bg-blue.fg-white.z-5
	.sidebar_header.d-flex.flex-align-center
		button.pull-button.bg-blue-hover
			span.mdi.mdi-menu.fg-white
		.sidebar_header-title.text-bold.enlarge-1.ml-4 Admin2L
	.sidebar_block.suggest-box.mt-4
		.data-box
			img.avatar.ml-4(src='https://via.placeholder.com/48')
			.ml-4.avatar-title.flex-column
				a.d-block.no-decor.fg-white(href='#')
					span.text-medium Loc Thanh
				p.m-0
					span.fg-green.mr-2 ●
					span.text-small online
		img.avatar.holder(src='https://via.placeholder.com/36')
	.sidebar_block.suggest-box
		input(type='text' data-role='input' data-clear-button='false' data-search-button='true')
		button.holder.bg-blue-hover.fg-white
			span.mdi.mdi-magnify
	.sidebar_nav-title.text-medium.my-2.px-3.enlarge-3 System
	ul.navview-menu.bg-blue.bg-blue-hover
		li
			a(href='index.html')
				span.icon
					span.mif-meter
				span.caption Dashboard
		li
			a.dropdown-toggle(href='#')
				span.icon
					span.mif-versions
				span.caption Sample Pages
			ul.navview-menu.stay-open(data-role='dropdown').bg-blue.bg-blue-hover
				li.item-header Pages
				li
					a(href='login.html')
						span.icon
							span.mif-lock
						span.caption Login
				li
					a(href='register.html')
						span.icon
							span.mif-user-plus
						span.caption Register
				li
					a(href='lockscreen.html')
						span.icon
							span.mif-key
						span.caption Lock screen
				li
					a(href='#profile')
						span.icon
							span.mif-profile
						span.caption Profile
				li
					a(href='preloader.html')
						span.icon
							span.mif-spinner
						span.caption Preloader
				li
					a(href='404.html')
						span.icon
							span.mif-cancel
						span.caption 404 Page
				li
					a(href='500.html')
						span.icon
							span.mif-warning
						span.caption 500 Page
				li
					a(href='#product-list')
						span.icon
							span.mif-featured-play-list
						span.caption Product list
				li
					a(href='#product')
						span.icon
							span.mif-rocket
						span.caption Product page
				li
					a(href='#invoice')
						span.icon
							span.mif-open-book
						span.caption Invoice
				li
					a(href='#orders')
						span.icon
							span.mif-table
						span.caption Orders
				li
					a(href='#order-details')
						span.icon
							span.mif-library
						span.caption Order details
				li
					a(href='#price-table')
						span.icon
							span.mif-table
						span.caption Price table
				li
					a(href='maintenance.html')
						span.icon
							span.mif-cogs
						span.caption Maintenance
				li
					a(href='coming-soon.html')
						span.icon
							span.mif-watch
						span.caption Coming soon
				li
					a(href='help-center.html')
						span.icon
							span.mif-help
						span.caption Help center
		li
			a.dropdown-toggle(href='#')
				span.icon
					span.mif-devices
				span.caption Forms
			ul.navview-menu.stay-open(data-role='dropdown').bg-blue.bg-blue-hover
				li.item-header Forms
				li
					a(href='form-basic.html')
						span.icon
							span.mif-spinner2
						span.caption Basic elements
				li
					a(href='form-extended.html')
						span.icon
							span.mif-spinner2
						span.caption Extended elements
		li
			a.dropdown-toggle(href='#')
				span.icon
					span.mif-table
				span.caption Tables
			ul.navview-menu.stay-open(data-role='dropdown').bg-blue.bg-blue-hover
				li.item-header Tables
				li
					a(href='table-classes.html')
						span.icon
							span.mif-spinner2
						span.caption Table classes
				li
					a(href='table-components.html')
						span.icon
							span.mif-spinner2
						span.caption Table components
		li
			a.dropdown-toggle(href='#')
				span.icon
					span.mif-air
				span.caption UI Elements
			ul.navview-menu.stay-open(data-role='dropdown').bg-blue.bg-blue-hover
				li.item-header UI Elements
				li
					a(href='ui-colors.html')
						span.icon
							span.mif-paint
						span.caption Colors
				li
					a(href='ui-typography.html')
						span.icon
							span.mif-bold
						span.caption Typography
				li
					a(href='ui-buttons.html')
						span.icon
							span.mif-apps
						span.caption Buttons
				li
					a(href='ui-tabs.html')
						span.icon
							span.mif-open-book
						span.caption Accordion & Tabs
				li
					a(href='ui-treeview.html')
						span.icon
							span.mif-tree
						span.caption TreeView
				li
					a(href='ui-listview.html')
						span.icon
							span.mif-list
						span.caption ListView
				li
					a(href='ui-list.html')
						span.icon
							span.mif-list2
						span.caption List component
		li
			a.dropdown-toggle(href='#')
				span.icon
					span.mif-comment
				span.caption Information
			ul.navview-menu.stay-open(data-role='dropdown').bg-blue.bg-blue-hover
				li.item-header Information
				li
					a(href='info-hints.html')
						span.icon
							span.mif-spinner2
						span.caption Hints
				li
					a(href='info-dialog.html')
						span.icon
							span.mif-spinner2
						span.caption Dialogs
				li
					a(href='info-infobox.html')
						span.icon
							span.mif-spinner2
						span.caption InfoBox
	.data-box.w-100.text-center.reduce-2.p-2.border-top.bd-grayMouse(style='position: absolute; bottom: 0')
		div © 2019 
			a.no-decor(href='#').fg-white Admin2L
		div UI Framework with 
			a.no-decor(href='https://metroui.org.ua').fg-white Metro 4