aside.colors_content
	.row
		.col-12
			.bg-white.p-4.row
				h6.w-100 Accent colors
				.col-sm-3.p-5.accent-block.alert.text-center alert
				.col-sm-3.p-5.accent-block.warning.text-center warning
				.col-sm-3.p-5.accent-block.success.text-center success
				.col-sm-3.p-5.accent-block.info.text-center info
				.col-sm-3.p-5.accent-block.yellow.text-center yellow
				.col-sm-3.p-5.accent-block.primary.text-center primary
				.col-sm-3.p-5.accent-block.secondary.text-center secondary
				.col-sm-3.p-5.accent-block.dark.text-center dark
				.col-sm-3.p-5.accent-block.light.text-center light
	.row
		.col-12
			.bg-white.p-4
				h6 Simple and additional colors
				p To use simple and additional colors you must add special prefix to color name.
					br
					span Example: 
					code bg-*
					|  - for background, 
					code fg-*
					|  - for text color. In table below specified all prefixes.
				table.table.table-border.cell-border
					thead
						tr
							th Target
							th Class
					tbody
						tr
							td background
							td bg-*
						tr
							td text color
							td fg-*
						tr
							td border
							td bd-*
						tr
							td outline
							td ol-*
						tr
							td background
							td bg-*
						tr
							td active
							td bg-*-active, fg-*-active, bd-*-active, ol-*-active
						tr
							td hover
							td bg-*-hover, fg-*-hover, bd-*-hover, ol-*-hover
						tr
							td focus
							td bg-*-focus, fg-*-focus, bd-*-focus, ol-*-focus
						tr
							td ribbed background
							td ribbed-*
						tr
							td opacity background
							td op-*
						tr
							td before
							td 	before-bg-*, before-fg-*
						tr
							td after
							td after-bg-*, after-fg-*
	.row
		.col-12
			.bg-white.p-4.row
				h6.w-100 Simple colors
				.col-sm-4
					.p-2.bg-black.fg-white black
					.p-2.bg-white.fg-black white
				.col-sm-4
					.p-2.bg-dark.fg-light dark
					.p-2.bg-light.fg-dark light
				.col-sm-4
					.p-2.bg-grayMouse.fg-grayWhite grayMouse
					.p-2.bg-grayWhite.fg-grayMouse grayWhite
	.row
		.col-12
			.bg-white.p-4.row
				h6.w-100 Additional colors
				.col-sm-4
					.p-2.fg-white.bg-lightLime lightLime
					.p-2.fg-white.bg-lime lime
					.p-2.fg-white.bg-darkLime darkLime
				.col-sm-4
					.p-2.fg-white.bg-lightGreen lightGreen
					.p-2.fg-white.bg-green green
					.p-2.fg-white.bg-darkGreen darkGreen
				.col-sm-4
					.p-2.fg-white.bg-lightEmerald lightEmerald
					.p-2.fg-white.bg-emerald emerald
					.p-2.fg-white.bg-darkEmerald darkEmerald
				.col-sm-4
					.p-2.fg-white.bg-lightTeal lightTeal
					.p-2.fg-white.bg-teal teal
					.p-2.fg-white.bg-darkTeal darkTeal
				.col-sm-4
					.p-2.fg-white.bg-lightBlue lightBlue
					.p-2.fg-white.bg-blue blue
					.p-2.fg-white.bg-darkBlue darkBlue
				.col-sm-4
					.p-2.fg-white.bg-lightCyan lightCyan
					.p-2.fg-white.bg-cyan cyan
					.p-2.fg-white.bg-darkCyan darkCyan
				.col-sm-4
					.p-2.fg-white.bg-lightCobalt lightCobalt
					.p-2.fg-white.bg-cobalt cobalt
					.p-2.fg-white.bg-darkCobalt darkCobalt
				.col-sm-4
					.p-2.fg-white.bg-lightIndigo lightIndigo
					.p-2.fg-white.bg-indigo indigo
					.p-2.fg-white.bg-darkIndigo darkIndigo
				.col-sm-4
					.p-2.fg-white.bg-lightViolet lightViolet
					.p-2.fg-white.bg-violet violet
					.p-2.fg-white.bg-darkViolet darkViolet
				.col-sm-4
					.p-2.fg-white.bg-lightPink lightPink
					.p-2.fg-white.bg-pink pink
					.p-2.fg-white.bg-darkPink darkPink
				.col-sm-4
					.p-2.fg-white.bg-lightMagenta lightMagenta
					.p-2.fg-white.bg-magenta magenta
					.p-2.fg-white.bg-darkMagenta darkMagenta
				.col-sm-4
					.p-2.fg-white.bg-lightCrimson lightCrimson
					.p-2.fg-white.bg-crimson crimson
					.p-2.fg-white.bg-darkCrimson darkCrimson
				.col-sm-4
					.p-2.fg-white.bg-lightRed lightRed
					.p-2.fg-white.bg-red red
					.p-2.fg-white.bg-darkRed darkRed
				.col-sm-4
					.p-2.fg-white.bg-lightOrange lightOrange
					.p-2.fg-white.bg-orange orange
					.p-2.fg-white.bg-darkOrange darkOrange
				.col-sm-4
					.p-2.fg-white.bg-lightAmber lightAmber
					.p-2.fg-white.bg-amber amber
					.p-2.fg-white.bg-darkAmber darkAmber
				.col-sm-4
					.p-2.fg-white.bg-lightYellow lightYellow
					.p-2.fg-white.bg-yellow yellow
					.p-2.fg-white.bg-darkYellow darkYellow
				.col-sm-4
					.p-2.fg-white.bg-lightBrown lightBrown
					.p-2.fg-white.bg-brown brown
					.p-2.fg-white.bg-darkBrown darkBrown
				.col-sm-4
					.p-2.fg-white.bg-lightOlive lightOlive
					.p-2.fg-white.bg-olive olive
					.p-2.fg-white.bg-darkOlive darkOlive
				.col-sm-4
					.p-2.fg-white.bg-lightSteel lightSteel
					.p-2.fg-white.bg-steel steel
					.p-2.fg-white.bg-darkSteel darkSteel
				.col-sm-4
					.p-2.fg-white.bg-lightMauve lightMauve
					.p-2.fg-white.bg-mauve mauve
					.p-2.fg-white.bg-darkMauve darkMauve
				.col-sm-4
					.p-2.fg-white.bg-lightTaupe lightTaupe
					.p-2.fg-white.bg-taupe taupe
					.p-2.fg-white.bg-darkTaupe darkTaupe
				.col-sm-4
					.p-2.fg-white.bg-lightGray lightGray
					.p-2.fg-white.bg-gray gray
					.p-2.fg-white.bg-darkGray darkGray
				.col-sm-4
					.p-2.fg-white.bg-lightGrayBlue lightGrayBlue
					.p-2.fg-white.bg-grayBlue grayBlue
					.p-2.fg-white.bg-darkGrayBlue darkGrayBlue