section.wizard_wrapper
	aside.wizard_container
		div(data-role="wizard")
			section
				.page-content
					h1 wizard 1
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit fuga voluptates pariatur, delectus ipsam rerum consequuntur tenetur incidunt sunt cupiditate earum aliquid enim vitae voluptatem fugiat iste, eaque reiciendis omnis.
			section
				.page-content
					h1 wizard 2
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit fuga voluptates pariatur, delectus ipsam rerum consequuntur tenetur incidunt sunt cupiditate earum aliquid enim vitae voluptatem fugiat iste, eaque reiciendis omnis.
			section
				.page-content
					h1 wizard 3
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit fuga voluptates pariatur, delectus ipsam rerum consequuntur tenetur incidunt sunt cupiditate earum aliquid enim vitae voluptatem fugiat iste, eaque reiciendis omnis.
		div(data-role="master")
			.page page 1
			.page page 2
			.page page 3
			.page page 4