section.table_default-classes
	h2 Default HTML table classes
	table
		thead
			tr
				th #
				th First Name
				th Last Name
				th Username
		tbody
			tr
				td 1
				td Bill
				td Gates
				td @billy
			tr
				td 2
				td Steve
				td Jobs
				td @stevy
			tr
				td 3
				td Larry
				td Page
				td @larry
section.table_default-components
	h2 Default HTML table components
	table
		thead
			tr
				th #
				th Name
				th Start
				th Age
				th Salary
		tbody
			tr
				td 1
				td Bill
				td 31-12-2017
				td 63
				td $7,843
			tr
				td 2
				td Steve
				td 13-06-2018
				td 63
				td $7,843
			tr
				td 3
				td Larry
				td 31-12-2017
				td 28
				td $8,877
			tr
				td 4
				td Troy
				td 11-03-2019
				td 26
				td $5,405
			tr
				td 5
				td Kennedy
				td 11-02-2018
				td 60
				td $5,780
			tr
				td 6
				td Cullen
				td 23-09-2017
				td 62
				td $5,482
			tr
				td 7
				td Eric
				td 04-01-2019
				td 53
				td $6,490
			tr
				td 8
				td Jakeem
				td 29-06-2018
				td 18
				td $6,084
			tr
				td 9
				td Kieran
				td 11-04-2019
				td 18
				td $5,043
			tr
				td 10
				td Stephen
				td 23-09-2017
				td 54
				td $5,895
			tr
				td 11
				td Cody
				td 26-03-2018
				td 65
				td $8,558
			tr
				td 12
				td Cody
				td 26-03-2018
				td 65
				td $8,558
			tr
				td 13
				td Otto
				td 26-03-2018
				td 25
				td $8,124
			tr
				td 14
				td Timon
				td 14-12-2017
				td 39
				td $5,031
			tr
				td 15
				td Owen
				td 25-05-2018
				td 24
				td $6,595
			tr
				td 16
				td Tobias
				td 02-03-2019
				td 21
				td $7,926
			tr
				td 17
				td Logan
				td 17-02-2018
				td 24
				td $8,062
			tr
				td 18
				td Laith
				td 02-04-2019
				td 45
				td $6,886
			tr
				td 19
				td Damian
				td 03-01-2018
				td 35
				td $9,852
			tr
				td 20
				td Wallace
				td 22-05-2018
				td 28
				td $8,678