.statistics
	.statistics-box
		.icon
			span.mdi.mdi-account
		.content
			p 999
			span Nhân viên
	.statistics-box
		.icon
			span.mdi.mdi-account
		.content
			p 999
			span Đơn hàng
	.statistics-box
		.icon
			span.mdi.mdi-account
		.content
			p 999
			span Nghiệp đoàn
	.statistics-box
		.icon
			span.mdi.mdi-account
		.content
			p 999
			span Học viên nam
	.statistics-box
		.icon
			span.mdi.mdi-account
		.content
			p 999
			span Học viên nữ