.don_hang--detail
	table#don_hang--detail
		thead
			tr
				th
					.logo
						img(src="./images/logo.png" alt="logo.png")
				th(colspan='2')
					.name
						h2 CÔNG TY TNHH NHÂN LỰC MIRAI
						h5 (MIRAI HUMAN RESOURCES CO.,LTD)
						p 
							strong Trụ sở chính:
							span  26/4-26/5 Lê Thánh Tôn, P. Bến Nghé, Quận 1, TP. Hồ Chí Minh
						p 
							strong Trung tâm đào tạo:
							span  155 Trần Trọng Cung, P. Tân Thuận Đông , Quận 7, TP. Hồ Chí Minh
						p 
							strong Điện thoại:
							span  08. 66863208 - 
							strong Fax: 
							span  08.38733268 - 
							strong Email: 
							span  contact@miraihuman.com
		tbody
			tr
				td(colspan='3').text-center
					h4 THÔNG BÁO ĐƠN HÀNG - CƠ KHÍ 
			tr
				td(colspan='3') 1. Chi tiết tuyển dụng
			tr
				td(colspan='3')
					table.table-child
						tr
							th Công ty tiếp nhận
							td Lorem ipsum dolor sit amet.
						tr
							th Địa chỉ
							td Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci, fugit!
						tr
							th Công việc
							td Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, porro!
						tr
							th Thời gian làm việc
							td 8:00 - 17:00
						tr
							th Số lượng tuyển
							td 20 nam, 18 nữ
						tr
							th Lương cơ bản
							td 23 456 Yên
						tr
							th Các khoản khấu trừ
							td Thuế 10%, Bảo hiểm 1 000 Yên
						tr
							th Lương thực nhận
							td 20 110 Yên
						tr
							th Ngày tuyển
							td 19/09/2019
						tr
							th Trình độ (Ngoại ngữ)
							td N3
						tr
							th Xuất cảnh (Dự kiến)
							td 27/12/22019

			tr
				td(colspan='3') 2. Yêu cầu hổ trợ
			tr
				td(colspan='3')
					table.table-child
						tr
							th Chi tiết công việc
							td Thời hạn yêu cầu thực thi
							td Bộ phận chịu trách nhiệm
						tr
							th Tuyển dụng cung cấp Form + DS
							td Lorem ipsum dolor sit amet consectetur adipisicing.
							td Ban tư vấn + tuyển dụng
						tr
							th Hoàn thiện hồ sơ
							td Lorem ipsum dolor sit amet consectetur adipisicing.
							td Ban tư vấn + tuyển dụng và Ban đối ngoại + Kế toán
						tr
							th Gửi form cho đối tác Nhật
							td Lorem ipsum dolor sit amet consectetur adipisicing.
							td Ban đối ngoại
						tr
							th Check nguồn (TTS & KS)
							td Lorem ipsum dolor sit amet consectetur adipisicing.
							td Ban giáo dục + Ban đối ngoại
						tr
							th Vé máy bay
							td Mirai phụ trách
							td Kế toán
						tr
							th Lưu ý
							td(colspan='2') Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates quos animi nesciunt, facilis enim officia perspiciatis reiciendis, illum modi ducimus fugit id eum. Vel voluptatibus explicabo voluptatum sed doloremque sapiente accusantium maiores quam, nulla temporibus consectetur adipisci libero sequi aliquid?