ul.notify-system
		li.create
			span Nguyễn 
			span  đã  
			strong thêm 
			span 7
			span  học viên 
			span  mới
		li.create
			span Nguyễn 
			span  đã  
			strong thêm 
			span 5
			span  học viên 
			span  mới
		li.delete 
			span Lộc đã 
			strong xóa  
			span 2
			span  học viên
		li.update 
			span Thành
			span  đã 
			strong cập nhật 
			span thông tin 
			span 1 
			span học viên
		li.update 
			span Thành
			span  đã 
			strong cập nhật 
			span thông tin 
			span 10 
			span học viên
		li.delete 
			span Lộc đã 
			strong xóa  
			span 2
			span  học viên
		li.delete 
			span Lộc đã 
			strong xóa  
			span 4
			span  học viên